
.card{
    width: 33rem;
    height: 30rem;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(12, 16, 31, 0.4);
    margin-right: 30px;
    margin-bottom: 30px

}
.card:hover {
  background-color: #a6a6a6;;
}
input{
    border: 1px solid #333 ;
    font-size: 11px;
    padding: 12px 10px;
    width: 97%;
}

.card-title{
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
img{
  width:320px;
   height:200px;
}
@media(max-width:1600px){

  img{
  width:275px;
   height:200px;
}
}
@media(max-width:450px){

img{
width:247px;
 height:200px;
}
}

@media(max-width:767px){
  input{
    width: 60%;
}
}
@media(max-width:1209px){
  input{
    width: 75%;
}

}
